*.py[cod]
.idea
.vscode
*.iml
*.bak
venv
tags
dist
build
*.egg-info
*-service-account.json
.env
.env.*
.env-*
__pycache__
_autosummary
_build
.coverage
junit_report.xml
public
flask_session
terraform.tfvars
.terraform
.terraform.lock.hcl
