authlib
Flask==2.0.1
Flask-Session
requests==2.26.0
google-auth==2.0.0
google-auth-oauthlib==0.4.1
requests-toolbelt==0.9.1
pandas
pandas_gbq
gunicorn==20.1.0
python-dotenv
flask-dance
flask-login
werkzeug

firebase-admin
google-api-core==2.10.1
google-api-python-client==2.63.0
google-cloud-bigquery==3.4.1
google-cloud-datastore==2.8.1
google-cloud-secret-manager==2.12.4
google-cloud-storage==2.5.0
google-cloud-firestore==2.7.0

parse
skimpy
datetime
numpy
config
flask-talisman

pyzmq==23.2.0
